
.glyphicon_toolbar i:before {
	position: relative;
}
.glyphicon_toolbar > a:hover > span > i:before,
.glyphicon_toolbar span.active > i:before,
.glyphicon_toolbar li.active i:before {
	color: #29bbf2;
}
.navbar-static-top .animate {
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.navbar-static-top .bootsnipp-search {
	background-color: #cce6ff;
	margin-top: 12px;
	margin-bottom: 12px;
	min-height: 10px;
	display: none;
	border: 0 solid white;
}
.bootsnipp-search .form-control {
	background-color: #cce6ff;
	border-radius: 0px;
	border-width: 0px;
	font-size: 22px;
	margin-bottom: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	width: 100%;
	display: table-cell;
}
.bootsnipp-search input:focus {
	border-color: transparent;
	outline: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
.bootsnipp-search .input-group-btn > .btn {
	padding: 8px 10px;
	border-radius: 0px;
	margin: 0;
	display: table-cell;
}
.bootsnipp-search form {
	margin: 0;
}
.bootsnipp-search .halflings i:before {
	color: white;
	position: relative;
}
.bootsnipp-search .input-group {
	display: table;
	width: 100%;
}
.navbar .nav > li > a {
	padding-left: 15px;
	padding-right: 15px;
}
.language_flag {
  text-align: center;
  float: right;
  width: 58px;
  position:absolute;
  right: 0px;
  top:10px;
}
.language_flag_inline {
	display: none;
}
@media (max-width: 1030px){
	.language_flag {
		visibility: hidden;
	}
	.language_flag_inline {
		display: block;
	}
}

.navbar-static-top .login-toolbar {
	display: none;
	min-height: 10px;
	border: 0px solid white
}
.login-toolbar input[type="text"].form-control,
.login-toolbar input[type="password"].form-control {
	background-color: #cce6ff;
	border-radius: 0px;
	border-width: 1px;
	font-size: 16px;
	height: 32px;
	margin: 12px 25px 12px 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	width: 150px;
}
.login-toolbar input[type="submit"].form-control {
	border-radius: 0px;
	height: 32px;
	margin: 12px 25px 12px 0;
	font-size: 16px;
}
.login-toolbar input[type="submit"].form-control.social,
.login-toolbar button.form-control.social{
	border-radius: 0px;
	height: 32px;
	margin: 12px 15px 12px 0;
	background-color: white;
	border: 1px solid white;
	padding: 3px;
	color: #3cc5f4;
}
.login-toolbar input[type="submit"].form-control.social:hover,
.login-toolbar button.form-control.social:hover{
	background-color: white;
	border: 1px solid lightgray;
	padding: 3px;
	color: #3cc5f4;
}
.login-toolbar input:focus {
	border-color: transparent;
	outline: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
.login-toolbar .input-group > a {
	display: inline-block;
	margin: 12px 15px 12px 0;
	vertical-align: middle;
	font-size: 13px;
	color: #3cc5f4;
}
.login-toolbar form {
	margin: 0;
}
.login-toolbar .social .glyphicons i:before {
	color: #3cc5f4;
	position: relative;
}

.blog_comments textarea {
	height: 100px;
}
.blog_comments .reply_btn {
	border-radius: 0px;
	background-color: white;
	border: 1px solid white;
	color: #3cc5f4;
	font-size: 14px;
	padding: 0;
	margin-top: -3px;
	line-height: 19px;
}
.blog_comments input[type="submit"] {
	border-radius: 0px;
}

.custom_pagination a {
	border-radius: 0px;
	background-color: white;
	border: 1px solid #29bbf2;
	color: #29bbf2;
	font-size: 16px;
	padding: 5px;
}
.custom_pagination a:hover {
	background-color: #29bbf2;
	border: 1px solid #29bbf2;
	color: white;
}
.custom_pagination span.disabled {
	border-radius: 0px;
	background-color: white;
	border: 1px solid lightgray;
	color: lightgray;
	font-size: 16px;
	padding: 5px;
}
.custom_pagination span.text {
	font-size: 16px;
}
a.custom_button {
	display: inline-block;
}
a.custom_button.blue,
input[type="submit"].custom_button.blue,
input[type="file"].custom_button.blue,
button.custom_button.blue {
	border-radius: 0px;
	background-color: white;
	border: 1px solid #29bbf2;
	color: #29bbf2;
	font-size: 16px;
	padding: 6px 10px 6px 10px;
}
a.custom_button.red,
input[type="submit"].custom_button.red,
input[type="file"].custom_button.red,
button.custom_button.red {
	border-radius: 0px;
	background-color: white;
	border: 1px solid #f22626;
	color: #f22626;
	font-size: 16px;
	padding: 6px 10px 6px 10px;
}
a.custom_button.blue:hover,
input[type="submit"].custom_button.blue:hover,
button.custom_button.blue:hover {
	background-color: #29bbf2;
	border: 1px solid #29bbf2;
	color: white;
}
a.custom_button.red:hover,
input[type="submit"].custom_button.red:hover,
button.custom_button.red:hover {
	background-color: #f22626;
	border: 1px solid #f22626;
	color: white;
}
a.custom_button.big,
input[type="submit"].custom_button.big,
button.custom_button.big {
	display: inline-block;
	font-size: 17px;
	padding: 6px 22px 6px 22px;
	min-width: 100px;
	margin: 0;
	line-height: 30px;
}
a.custom_button.small,
input[type="submit"].custom_button.small,
button.custom_button.small {
	font-size: 15px;
	padding: 3px 6px 3px 6px;
}
a.custom_button.table_btn,
input[type="submit"].custom_button.table_btn,
button.custom_button.table_btn {
	font-size: 13px;
	padding: 5px 13px 6px 13px;
	line-height: 10px;
	margin-right: 30px;
}

@media (min-width: 767px) {
	.bDescription.fix {
		margin-left: 240px;
	}
}

.bubbleBox .easyBox:before {
	border-color: #29bbf2 rgba(255,255,255,0) rgba(255,255,255,0) #29bbf2;
}

.modal {
	border-radius: 0;
	border: 2px solid #29bbf2;
	width: 85%;
	max-width: 480px;
	margin-left: -240px;
	display: none;
}
.modal form {
	margin: 0;
}
.modal input[type="text"],
.modal textarea {
	width: 100%;
}
@media (max-width: 767px){
	.modal {
		margin: auto;
	}
}
.modal .modal-body {
	max-height: none;
}
@media (max-height: 800px) {
	.modal .modal-body {
		max-height: 600px;
	}
}
@media (max-height: 700px) {
	.modal .modal-body {
		max-height: 450px;
	}
}
@media (max-height: 600px) {
	.modal .modal-body {
		max-height: 350px;
	}
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    max-width: 80%;
	font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
	padding: 5px 20px 5px 20px;
	color: #29bbf2;
    border: 1px solid white;
}
.inputfile + label > span {
	color: #29bbf2;
	font-size: 16px;
}
.inputfile + label:hover {
	border: 1px solid #29bbf2
}
.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: #29bbf2;
    margin-top: -0.25em;
    margin-right: 0.25em;
}


.start_project {
	width: 100%;
	background-color: white;
	font-size: 24px;
	color: #29bbf2;
	padding: 15px 25px 15px 25px;
	vertical-align: middle;
}
.start_project span.underline {
	animation-duration: 500ms;
	animation-name: blink;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.start_project:hover {
	animation: appear 2.0s forwards;
	-webkit-animation: appear 2.0s forwards;
}
@keyframes appear {
  from {
    background-color: white;
	color: #29bbf2;
  }
  to {
    background-color: #29bbf2;
	  color: white;
  }
}

ul.admin_menu {
	margin: 0;
	padding: 0;
	list-style: none;
}
.admin_menu li {
	margin: 12px 10px 12px 5px;
}
.admin_menu a{
	display: inline-block;
	border-radius: 0;
	background-color: white;
	border-bottom: 1px solid #29bbf2;
	color: #29bbf2;
	font-size: 16px;
	padding: 8px;
	width: 100%;
}
.admin_menu a:hover {
	background-color: #29bbf2;
	border-bottom: 1px solid #29bbf2;
	color: white;
}
.admin_menu i:before {
	position: relative;
	color: #29bbf2;
}
.admin_menu a:hover > span > i:before {
	color: white;
}

.admin_portfolio_list a.custom_button{
	display: inline-block;
	margin: 5px 12px 0 0;
}
.admin_portfolio_list input[type="submit"].custom_button {
	display: inline-block;
	margin: -5px 12px 0 0;
}
.portfolio_edit textarea {
	width: 100%;
}
.portfolio_edit input[type="text"]{
	width: 100%;
}

.admin_table {
	width: 100%;
	border: 1px solid lightgray;
	text-align: center;
	margin-bottom: 30px;
}
.admin_table .header {
	background-color: lightgray;
	height: 36px;
}
.admin_table tr {
	border-bottom: 1px solid lightgray;
}
.admin_table td {
	height: 34px;
}
.admin_table form {
	margin: 0;
}

.wide {
	width: 100%;
}
.h_100 {
	height: 100px;
}
.h_150 {
	height: 150px;
}

.custom_pg {
	margin-bottom: 0;
}
.custom_pg ul > li >  a {
	border-radius: 0;
	margin: 0;
	font-size: 13px;
	color: #595959;
}

.well footer {
	margin-top: 15px;
}
.well blockquote {
	margin-left: 10px;
	margin-top: 0;
}
.well em {
	color: #1a1a1a;
	font-size: 16px;
}

input[type="checkbox"].custom_checkbox {
	display: none;
}
input[type="checkbox"].custom_checkbox + label{
	display: inline-block;
}
span.custom_checkbox {
	display: inline-block;
	position: relative;
	bottom: 2px;
	left: 3px;
}
input[type="checkbox"].custom_checkbox + label:before{
	content: "\e154   ";
	color: #29bbf2;
	display: inline-block;
	font: 24px/1em 'Glyphicons';
}
input[type="checkbox"].custom_checkbox:checked + label:before{
	content: "\e153   ";
	color: #29bbf2;
	display: inline-block;
	font: 24px/1em 'Glyphicons';
}
.permissions_table td {
	height: 40px;
}


.admin_navbar .navbar-inner {
	border-bottom: 1px solid lightgray;
	border-top: 0;
	min-height: 36px;
	padding: 0;
}
.admin_navbar span.an_text {
	display: inline-block;
	margin: 7px 0 0 10px;
	font-size: 14px;
}
.admin_navbar ul.an_dropdown {
	list-style: none;
	display: inline-block;
	margin: 0 20px 10px 5px;
	font-size: 14px;
}

.admin_navbar .an_button i::before{
	position: relative;
	font-size: 23px;
	top: 8px;
	margin-right: 20px;
}
.admin_navbar .an_button.active i::before{
	color: #29bbf2;
}
.admin_navbar form.an_form {
	display: inline-block;
	margin: 0;
}
.admin_navbar form.an_form input[type="text"] {
	margin: 0;
}
.admin_navbar button.na_search {
	padding: 4px 5px 0 5px;
}
.admin_navbar button.na_search i:before {
	position: relative;
	color: #29bbf2;
}
.admin_navbar button.na_search:hover i:before {
	position: relative;
	color: white;
}

.projects_table  {
	width: 100%;
}
.projects_table tr {
	border-bottom: 1px solid lightgray;
	height: 50px;
}
.projects_table td {
	font-size: 16px;
	cursor: hand;
	cursor: pointer;
}

ul.file_list {
	list-style: none;
}
ul.file_list a {
	color: #29bbf2;
	font-size: 15px;
	cursor: hand;
	cursor: pointer;

}

a.all_files_url {
	display: inline-block;
	font-size: 16px;
	color: #29bbf2;
	margin-top: 15px;
	cursor: hand;
	cursor: pointer;

}

.comments_table {
	width: 100%;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}
.comments_table tr {
	height: 30px;
}
.comments_table tr.nd_row {
	border-bottom: 1px solid lightgray;
}
.comments_table td {
	padding-right: 20px;
	padding-left: 20px;
	vertical-align: middle;
}

.search_well {
	background-color: #e8f4ff;
	padding: 10px 20px 10px 10px;
	margin-bottom: 10px;
	border: 1px solid #e8f4ff;
}
.search_well:hover {
	/*background-color: #cde8ff;*/
	border: 1px solid #29bbf2;
}
.search_well a {
	font-size: 16px;
	color: #29bbf2;
}

.portfolio_image img {
	width: 100%;
}
.portfolio_image {
	display: block;
	height: 250px;
}
@media (max-width : 768px) {
	.portfolio_image {
    height: 100px;
  }
}
.easyBox a:hover {
	color: #333333;
}
.easyBox:hover {
	border: 1px solid #29bbf2;
}