{% load static %}
{% load i18n %}
{% load popular_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>uStrap</title>
    <link href="{% static "css/ustrap.css" %}" rel="stylesheet">
</head>
<body>

    <div class="container full demo">
        158155151
        <div class="row demo">
            1555555
        </div>
    </div>



</body>
</html>