{% load i18n %}
<div class="titleBox">
    <div class="container">
        <h1 class="big pull-left">{% trans 'Search results' %}</h1>
    </div>
</div>
<div class="container" style="min-height: 400px">
    {% if found %}
        <div class="row-fluid topSpace">
            <div class="span12">
                <h3 class="twoLines">{% trans "Blog posts" %}</h3>
            </div>
        </div>
        <div class="row-fluid">
            {% for post in blog_posts %}
                <div class="search_well" onclick="location.href='{% url 'app:blog_detail_view' post.id %}'">
                    {% if LANGUAGE_CODE == 'en' %}
                        <p><strong>{{ post.name }}</strong> - {{ post.text|truncatechars:200 }}</p>
                        <a href="{% url 'app:blog_detail_view' post.id %}">{% trans "More..." %}</a>
                    {% else %}
                        <p><strong>{{ post.nameUA }}</strong> - {{ post.textUA|truncatechars:200 }}</p>
                        <a href="{% url 'app:blog_detail_view' post.id %}">{% trans "More..." %}</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="row-fluid topSpace">
            <div class="span12">
                <h3 class="twoLines">{% trans "Portfolios" %}</h3>
            </div>
        </div>
        <div class="row-fluid">
            {% for prt in portfolios %}
                <div class="search_well" onclick="location.href='{% url "app:portfolio_detail" prt.id %}'">
                    {% if LANGUAGE_CODE == 'en' %}
                        <p><strong>{{ prt.name }}</strong> - {{ prt.description|truncatechars:200 }}</p>
                        <a href="{% url "app:portfolio_detail" prt.id %}">{% trans "More..." %}</a>
                    {% else %}
                        <p><strong>{{ prt.nameUA }}</strong> - {{ prt.descriptionUA|truncatechars:200 }}</p>
                        <a href="{% url "app:portfolio_detail" prt.id %}">{% trans "More..." %}</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="row-fluid topSpace">
            <div class="span12">
                <h3 class="twoLines">{% trans "Nothing found" %}</h3>
            </div>
        </div>
    {% endif %}
</div>
