{% extends 'base_2.html' %}
{% load i18n %}
{% load popular_tags %}
{% block title %}
    {% trans "Blog" %}
{% endblock %}
{% block content %}
    <div class="titleBox">
        <div class="container">
            <h1 class="big pull-left">{% trans 'Our blog' %}</h1>
        </div>
    </div>
    <div class="container">
    <!-- / wide title -->


        <div class="row-fluid topSpace">
            <div class="span12">
                <div class="blogContainer">
                    <!-- blog content -->
                    {% for i in blog_posts %}

                    <div class="blogItem">
                        <div class="bPhoto mediumImage">
                            <img src="{{ i.0.blogpostimage_set.all.0.image.url }}" alt=" ">
                        </div>
                        <div class="bDescription fix" style="">
                            <h3 class="light"><a href="{% url 'app:blog_detail_view' i.0.id %}">{{ i.0.name }}</a></h3>
                            <hr>
                              <span class="halflings user metaText">
                                 <i></i>{{ i.0.author }}
                              </span>
                              <span class="halflings calendar metaText">
                                 <i></i> {{ i.0.date }}
                              </span>
                              <span class="halflings comments metaText">
                                 <i></i> <a href="#">{{ i.1 }} comments</a>
                              </span>
                              <span class="halflings tag metaText">
                                  {% for tag in i.0.tags.all %}
                                      <i></i><a href="{% url 'app:blog_list_view_tag' tag=tag.name %}">{{ tag }}</a>
                                  {% endfor %}
                             </span>
                            <hr>
                                <p>
                                    {% if LANGUAGE_CODE == 'en' %}
                                        {{ i.2.en }}
                                    {% else %}
                                        {{ i.2.uk }}
                                    {% endif %}
                                </p>
                            <br>
                            <a href="{% url 'app:blog_detail_view' i.0.id %}" class="custom_button blue">Read More</a>
                        </div>
                    </div>
                    <!-- / blogItem -->
                    {% endfor %}
                    {%  if page_obj.paginator.num_pages > 1 %}
                        <div class="custom_pagination">
                            <span class="text">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}&nbsp|&nbsp</span>
                            {% if page_obj.has_previous %}
                                <a href="{% url 'app:blog_list_view' %}{% q_transform request page=page_obj.previous_page_number %}">{% trans 'Previous' %}</a>
                            {% else %}
                                <span class="disabled">{% trans 'Previous' %}</span>
                            {% endif %}
                            {% if page_obj.has_next %}
                                <a href="{% url 'app:blog_list_view' %}{% q_transform request page=page_obj.next_page_number %}">{% trans 'Next' %}</a>
                            {% else %}
                                <span class="disabled">{% trans 'Next' %}</span>
                            {% endif %}
                        </div>
                    {% endif %}
                    <!-- / blog content -->
                </div>
            </div>
        </div>
        <!-- / row-fluid -->
    </div>
{% endblock %}
