{% extends 'base_2.html' %}
{% load static %}
{% load i18n %}

{% block content %}
        <!-- fullwidth slider -->
    <div class="flexslider flexFull">
        <ul class="slides">
            <li>
                <div class="cont1">
                    <div class="container leftDown" >
                        <div class="easyBox flowContent">
                            <h3 class="subTitle">Unique and Clean</h3>

                            <p>Morbi at fermentum mauris. Sed risus urna, porttitor non ullamcorper et.</p>

                            <a href="#" class="btn btn-small btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="cont2">
                    <div class="container inCenter" >
                        <div class="easyBox flowContent">
                            <h3 class="subTitle">Unique and Clean</h3>

                            <p>Morbi at fermentum mauris. Sed risus urna, porttitor non ullamcorper et.</p>

                            <a href="#" class="btn btn-small btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="cont3">
                    <div class="container rightDown" >
                        <div class="easyBox flowContent">
                            <h3 class="subTitle">Unique and Clean</h3>

                            <p>Morbi at fermentum mauris. Sed risus urna, porttitor non ullamcorper et.</p>

                            <a href="#" class="btn btn-small btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>

    <div class="container">
    <!-- / fullwidth slider -->
        <div class="row-fluid topSpace">
            <div class="span12">
                <h3 class="twoLines">{% trans 'Our technologies' %}</h3>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <div class="iconBox" style="padding-left: 20px; padding-right: 20px">
                    <img style="max-height: 100px; display: block; margin: auto" class="img-responsive" src="{% static "images/python-256.png" %}" alt="Technologies">
                    <h4 class="light">Python</h4>
                </div>
            </div>
            <div class="span4">
                <div class="iconBox" style="padding-left: 20px; padding-right: 20px">
                    <img style="max-height: 100px; display: block; margin: auto" class="img-responsive" src="{% static "images/php-256.png" %}" alt="Technologies">
                    <h4 class="light">PHP</h4>
                </div>
            </div>
            <div class="span4">
                <div class="iconBox" style="padding-left: 20px; padding-right: 20px">
                    <img style="max-height: 100px; display: block; margin: auto" class="img-responsive" src="{% static "images/drupal-256.png" %}" alt="Technologies">
                    <h4 class="light">Drupal</h4>
                </div>
            </div>
        </div>


        <div class="row-fluid topSpace">
            <div class="span12">
                <h3 class="twoLines">Latest Projects</h3>
            </div>
        </div>


        <!-- latest project slider -->

        <div class="flexslider flexLinear">
            <ul class="slides">
                <li>
                    <div class="row-fluid">
                        <div class="span3">
                            <div class="easyBox flat doCenter">
                                <img src="images/content-demo/portfolio-thumbnail-01.jpg" alt=" " class="contentoverlay">

                                <div class="contenthover">
                                    <a href="/"><span class="halflings plus"><i></i></span></a>
                                </div>
                                <a href="#" class="btn-link btn-block">Project name</a>
                                   <span class="halflings tag metaText">
                                       <i></i> Branding, Web
                                   </span>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="easyBox flat doCenter">
                                <img src="images/content-demo/portfolio-thumbnail-02.jpg" alt=" " class="contentoverlay">

                                <div class="contenthover">
                                    <a href="/"><span class="halflings plus"><i></i></span></a>
                                </div>
                                <a href="#" class="btn-link btn-block">Project name</a>
                                   <span class="halflings tag metaText">
                                       <i></i> Branding, Web
                                   </span>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="easyBox flat doCenter">
                                <img src="images/content-demo/portfolio-thumbnail-03.jpg" alt=" " class="contentoverlay">

                                <div class="contenthover">
                                    <a href="/"><span class="halflings plus"><i></i></span></a>
                                </div>
                                <a href="#" class="btn-link btn-block">Project name</a>
                                   <span class="halflings tag metaText">
                                       <i></i> Branding, Web
                                   </span>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="easyBox flat doCenter">
                                <img src="images/content-demo/portfolio-thumbnail-04.jpg" alt=" " class="contentoverlay">

                                <div class="contenthover">
                                    <a href="/"><span class="halflings plus"><i></i></span></a>
                                </div>
                                <a href="#" class="btn-link btn-block">Project name</a>
                                   <span class="halflings tag metaText">
                                       <i></i> Branding, Web
                                   </span>
                            </div>
                        </div>
                    </div>
                    <!-- / row-fluid -->
                </li>
                <li>
                    <div class="row-fluid">
                        <div class="span3">
                            <div class="easyBox flat doCenter">
                                <img src="images/content-demo/portfolio-thumbnail-05.jpg" alt=" " class="contentoverlay">

                                <div class="contenthover">
                                    <a href="/"><span class="halflings plus"><i></i></span></a>
                                </div>
                                <a href="#" class="btn-link btn-block">Project name</a>
                                   <span class="halflings tag metaText">
                                       <i></i> Branding, Web
                                   </span>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="easyBox flat doCenter">
                                <img src="images/content-demo/portfolio-thumbnail-06.jpg" alt=" " class="contentoverlay">

                                <div class="contenthover">
                                    <a href="/"><span class="halflings plus"><i></i></span></a>
                                </div>
                                <a href="#" class="btn-link btn-block">Project name</a>
                                   <span class="halflings tag metaText">
                                       <i></i> Branding, Web
                                   </span>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="easyBox flat doCenter">
                                <img src="images/content-demo/portfolio-thumbnail-07.jpg" alt=" " class="contentoverlay">

                                <div class="contenthover">
                                    <a href="/"><span class="halflings plus"><i></i></span></a>
                                </div>
                                <a href="#" class="btn-link btn-block">Project name</a>
                                   <span class="halflings tag metaText">
                                       <i></i> Branding, Web
                                   </span>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="easyBox flat doCenter">
                                <img src="images/content-demo/portfolio-thumbnail-08.jpg" alt=" " class="contentoverlay">

                                <div class="contenthover">
                                    <a href="/"><span class="halflings plus"><i></i></span></a>
                                </div>
                                <a href="#" class="btn-link btn-block">Project name</a>
                                   <span class="halflings tag metaText">
                                       <i></i> Branding, Web
                                   </span>
                            </div>
                        </div>
                    </div>
                    <!-- / row-fluid -->
                </li>
                <li>
                    <div class="row-fluid">
                        <div class="span3">
                            <div class="easyBox flat doCenter">
                                <img src="images/content-demo/portfolio-thumbnail-09.jpg" alt=" " class="contentoverlay">

                                <div class="contenthover">
                                    <a href="/"><span class="halflings plus"><i></i></span></a>
                                </div>
                                <a href="#" class="btn-link btn-block">Project name</a>
                                   <span class="halflings tag metaText">
                                       <i></i> Branding, Web
                                   </span>
                            </div>
                        </div>
                    </div>
                    <!-- / row-fluid -->
                </li>
            </ul>
        </div>


        <div class="row-fluid topSpace">
            <div class="span6">

                <!-- tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab1">First tab</a></li>
                    <li class=""><a data-toggle="tab" href="#tab2">Second tab</a></li>
                    <li class=""><a data-toggle="tab" href="#tab3">Third tab</a></li>
                </ul>

                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        Pellentesque habitant morbi tristique senectus et netus et fames ac turpis egestas. Maecenas venenatis rhoncus luctus. Mauris vel elit a metus adipiscing mattis. Aliquam feugiat libero a est porttitor ultrices quis in dolor. Fusce venenatis feugiat est, eget rhoncus enim viverra ac. Praesent aliquam tristique ipsum, nec posuere sapien pulvinar vel. Suspendisse potenti. Proin vehicula cursus rhoncus. Nulla amet cursus tincidunt, nulla sem sodales magna, venenatis dignissim ac orci. Aliquam odio nisi, auctor sit amet luctus vel, egestas eget turpis.
                    </div>
                    <div id="tab2" class="tab-pane">
                        Pellentesque habitant morbi tristique senectus et netus et fames ac turpis egestas. Maecenas venenatis rhoncus luctus. Mauris vel elit a metus adipiscing mattis. Aliquam feugiat libero a est porttitor ultrices quis in dolor. Fusce venenatis feugiat est, eget rhoncus enim viverra ac. Praesent aliquam tristique ipsum, nec posuere sapien pulvinar vel. Suspendisse potenti. Proin vehicula cursus rhoncus. Nulla amet cursus tincidunt, nulla sem sodales magna.
                    </div>
                    <div id="tab3" class="tab-pane">Nunc ultrices ipsum in augue adipiscing fermentum. Mauris eget neque est, et rutrum diam. Praesent tincidunt iaculis arcu, eu tincidunt erat tincidunt vitae.</div>
                </div>
                <!-- / tabs -->
            </div>
            <div class="span6">
                <h3 class="twoLines">Why Choose Us</h3>

                <ul class="normal">
                    <li>Pellentesque habitant morbi tristique senectus et netus</li>
                    <li>Maecenas venenatis rhoncus luctus elit a metus adipiscing</li>
                    <li>Aliquam feugiat libero a est porttitor ultrices quis in dolor</li>
                    <li>Venenatis feugiat est, eget rhoncus enim viverra aliquam</li>
                    <li>Nec posuere sapien ligula pulvinar vel suspendisse potenti</li>
                </ul>
            </div>
        </div>
        <!-- / row-fluid -->

        <div class="row-fluid topSpace">
            <div class="span6">
                <h3 class="twoLines">Latest from Our Blog</h3>

                <div class="row-fluid">
                    <div class="span6">
                        <div class="easyBox flat doCenter">
                            <img src="images/content-demo/blog-01.jpg" alt=" " class="contentoverlay">

                            <div class="contenthover">
                                <a href="/"><span class="halflings plus"><i></i></span></a>
                            </div>
                                    <span class="halflings calendar half metaText">
                                        <i></i> February 12
                                    </span>
                                    <span class="halflings comments half metaText">
                                        <i></i> <a href="#">7 comments</a>
                                    </span>
                        </div>
                        <h4 class="usual"><a href="#">Freebie Friday: Freebies on AppStorm</a></h4>

                        <p>
                            Vivamus justo mi, dictum gravida ut, malesuada ultrices nibh. Etiam nibh sed eleifend viverra, sem justo lobor velit, eu dictum velit massa in tellus. Donec adipiscing lacinia...

                        </p>
                    </div>
                    <div class="span6">
                        <div class="easyBox flat doCenter">
                            <img src="images/content-demo/blog-02.jpg" alt=" " class="contentoverlay">

                            <div class="contenthover">
                                <a href="/"><span class="halflings plus"><i></i></span></a>
                            </div>
                                    <span class="halflings calendar half metaText">
                                        <i></i> February 12
                                    </span>
                                    <span class="halflings comments half metaText">
                                        <i></i> <a href="#">7 comments</a>
                                    </span>
                        </div>
                        <h4 class="usual"><a href="#">Envato’s Most Wanted – $4,000 Reward for the First 20 Infographics</a></h4>

                        <p>
                            Phasellus luctus eros faucibus lorem feugiat nec molestie leo mattis. Vestibulum sed massa in lectus sollicitudin tincidunt. Donec eget facilisis neque...
                        </p>
                    </div>
                </div>
            </div>
            <div class="span6">
                <h3 class="twoLines">What Clients Say</h3>

                <div class="flexslider fadeFlex">
                    <ul class="slides">
                        <li>
                            <div class="bubbleBox quotes">
                                <blockquote class="easyBox">
                                    <span class="fontello icon-quote-left"><i></i></span>

                                    <p>
                                        Aliquam ligula mi, dictum sed gravida et, lobortis quis sapien. Etiam dolor nisi, fringilla rhoncus accumsan sit amet, molestie porttitor neque. Nulla ipsum purus. Nulla bibendum tempor lectus et
                                        vestibulum. Donec molestie rhoncus turpis. Mauris tristique lorem ut lacus vehicula ultrices malesuada mi sagittis.

                                    </p>
                                    <span class="fontello icon-quote-right"><i></i></span>
                                </blockquote>
                                <span class="pull-right author">Richard Doe, Nonexistent Inc.</span>
                            </div>
                        </li>
                        <li>
                            <div class="bubbleBox quotes">
                                <blockquote class="easyBox">
                                    <span class="fontello icon-quote-left"><i></i></span>

                                    <p>
                                        Pellentesque habitant morbi tristique senectus et netus et fames ac turpis egestas. Maecenas venenatis rhoncus luctus. Mauris vel elit a metus adipiscing mattis. Aliquam feugiat libero a est porttitor ultrices quis in dolor. Fusce venenatis feugiat est, eget rhoncus enim viverra ac.

                                    </p>
                                    <span class="fontello icon-quote-right"><i></i></span>
                                </blockquote>
                                <span class="pull-right author">Stephen Crown, ABC corp.</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <!-- / row-fluid -->
    </div>
    <!-- /  container -->
{% endblock %}
