{% extends 'base_2.html' %}
{% load i18n %}
{% block title %}
    {% trans "Blog" %}
{% endblock %}
{% block content %}
    <div class="titleBox">
        <div class="container">
            <h1 class="big pull-left">{% trans 'Our portfolio' %}</h1>
        </div>
    </div>
    <div class="container">
        <!-- / wide title -->
        <div class="row-fluid topSpace">
            <div class="span12">
                <ul class="portfolioList col2" id="portfolio1">
                    {% for item in portfoliocontent_list %}
                    <li>
                        <div class="easyBox flat doCenter">
                          <a href="{% url "app:portfolio_detail" pk=item.id %}">
                            <div class="portfolio_image">
                                <img src={{ item.imagecontentclass_set.all.0.image.url }} >
                            </div>

                            <span class="btn-link btn-block">
                                {% if LANGUAGE_CODE == 'en' %}
                                    <h3>{{ item.name }}</h3>
                                {% else %}
                                    <h3>{{ item.nameUA }}</h3>
                                {% endif %}
                            </span>
                            <span>
                                {% if LANGUAGE_CODE == 'en' %}
                                    {{ item.description|truncatechars:100 }}
                                {% else %}
                                    {{ item.descriptionUA|truncatechars:100 }}
                                {% endif %}
                            </span>
                          </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- /row-fluid -->
    </div>
    {% endblock %}
