{% extends 'base_2.html' %}
{% load i18n %}
{% load popular_tags %}
{% block title %}
    {% trans "Blog" %}
{% endblock %}
{% block content %}
    <div class="titleBox">
        <div class="container">
            <h1 class="big pull-left">{% trans 'Projects administration' %}</h1>
        </div>
    </div>
    <div class="container" style="min-height: 500px">
        <div class="row-fluid topSpace">
            <div class="span12">
                <table class="projects_table">
                    {% for i in object_list %}
                        <tr>
                            <td>
                                <a href="{% url 'app:project_view' pk=i.id %}">{{ i.first_name }} {{ i.last_name }} {{ i.email }}</a>
                                {% if i.is_opened %}<span class="label label-primary">{% trans "New project!" %}</span>{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="row-fluid topSpace">
            <div class="span12">
                {% trans "Page:" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}&nbsp|&nbsp
                {% if page_obj.has_previous %}
                    <a href="{% url 'app:projects_list' %}{% q_transform request page=page_obj.previous_page_number %}">{% trans "Previous" %}</a>
                {% else %}
                    <span style="color: grey">{% trans "Previous" %}</span>
                {% endif %}
                {% if page_obj.has_next %}
                    <a href="{% url 'app:projects_list' %}{% q_transform request page=page_obj.next_page_number %}">{% trans "Next" %}</a>
                {% else %}
                    <span style="color: grey">{% trans "Next" %}</span>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}